<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>蔵書検索</string>
	<key>CFBundleIdentifier</key>
	<string>info.tkt989.BookSearch</string>
	<key>CFBundleShortVersionString</key>
	<string>1.3</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>9.0</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcon.appiconset</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>近くの図書館を探すために使用します。</string>
	<key>NSCameraUsageDescription</key>
	<string>本のバーコードをスキャンするために使用します。</string>
	<key>CFBundleName</key>
	<string>BookSearch</string>
	<key>UIMainStoryboardFile</key>
	<string>LaunchScreen</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Xamarin Permission Pluginを動作させるために必要なので使用します。</string>
	<key>CFBundleVersion</key>
	<string>1.3</string>
</dict>
</plist>
